*,*:before,*:after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #020204;
    font-family: 'Jost', sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
}

img{
    display: block;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.btn{
    min-width: 200px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-radius: 10px;
    margin-right: 20px;
    border: 0;
    cursor: pointer;

}

.btn:last-child{
    margin-right: 0px;
}

.btn_main{
    background-color: #C7A17A;;
    transition: background-color 0.2s ease ;
}

.btn_main:hover{
    background-color: #44372a;;
}

.btn_secondary{
    border: 1px solid #666681;
    transition: background-color 0.2s ease ;
}

.btn_secondary:hover{
   background-color: #666681;
}

.btn_full{
    width: 100%;
}



.header {
    border-bottom: 1px solid #32323D;
}

.header_line{
    border-bottom: 1px solid #32323D;
}


.header_line_wrapper{
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
}

.header_lng{
    display: flex;
}

.header_lng a{
    margin-right: 10px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.header_lng a.active{
   color:   #C7A17A ; 
}


.header_phone{
    color: #fff;
    font-family: Jost;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.header_wrapper{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
}

.nav_footer{
    flex-direction: column;
    align-items: flex-start;
    
}

.nav_footer .nav_link{
    margin-right: 0px;
    margin-bottom: 20px;
}



.nav_link{
    margin-right: 35px;
    color: #fff;
    font-family: Jost;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    transition: color .2s ease;
}

.nav_link:hover{
    color: #C7A17A;
}

.nav_link.active{
    color: #C7A17A;;
}

.logo img{
    display: block;
    height: 54px;
}

.icons_wrapper{
    display: flex;
    align-items: center;
}

.icon_link{
    margin-right: 30px;
    position: relative;
}

.icon_link:last-child{
    margin-right: 0px;
}


.icon_link_event{
    display: block;
    width: 6px;
    height: 6px;
    background: #C7A17A;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -3px;
}

.header_nav_block{
    width: 40%;
}

.header_icons_block{
    width: 40%;
    display: flex;
    justify-content: end;
}


.intro{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.intro::after {
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(2, 2, 4, 0.55);
}

.intro_wrapper{
    min-height: 720px;
    display: flex;
    align-items: center;
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

.intro_tittle{
    color: #FFF;
    font-family: Jost;
    font-size: 60px;
    font-weight: 900;
    line-height: 144%;
    text-transform: uppercase;
    margin: 0 0 35px 0;
}

.intro_description{
    color: #DFDFDF;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 35px;
}

.intro_block{
    max-width: 571px;
}

.intro_buttons{
    display: flex;
}






.banner_block{
    display: flex;
    min-height: 330px;
    margin-top: 60px;
    border-radius: 10px;
    background: #14141D;
}

.banner_info{
    padding: 30px;
}

.banner_tittle{
    margin-bottom: 15px;
    color: #FFF;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
}

.banner_text{
    max-width: 498px;
    min-height: 208px;
    color: #DFDFDF;
    font-size: 18px;
    font-weight: 400;
}

.banner_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catalog_wrapper{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}


.catalog_block{
    width: 33.33%;
    margin-bottom: 20px;

}

.catalog_tittle{
    color: #FFF;
    font-size: 40px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 0 0 40px;
}

.catalog_card_name{
    color: #FFF;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 42px;
    margin-bottom: 30px;
}

.catalog_card_price{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
}

.catalog_card_price del{
    margin-left: 30px;
    color: #818181;
}

 .catalog_card{
    display: block;
    border-radius: 10px;
    background-color: #14141D;
    max-width: 386px;
    min-height: 372px;
    padding: 20px;
    transition: background-color .2s ease;
}

.catalog_card:hover{
    background-color: #22222F;
}


.catalog_img{
    display: block;
    margin: 0 auto;
    max-height: 200px;
    max-width: 100px;
    background: none;
}

.footer_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button_catalog{
    background: none;
    padding: 0;
    cursor: pointer;
    border: 0;
}


.News_Tittle{
    margin-top: 80px;
    color: #FFF;
    font-family: Jost;
    font-size: 40px;
    font-weight: 900;
    line-height:1 ; /* 57.6px */
    text-transform: uppercase;
    margin-bottom: 40px ;
}

.News_Wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.new_block{
    width: 33.33%;
}

.new_card{
    width: 386px;
    height: 465px;
    border-radius: 10px;
    background: #14141D;
}

.news_img{
    display: block;
    width: 100%;
    height: 240px;
    margin-bottom: 20px;
    object-fit: cover;
}

.news_desc{
    margin-left: 20px;
    color: #DFDFDF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    width: 344px;
    min-height: 115px;
}

.news_tittle_card{
    margin: 0 0 0 20px;
    color: #FFF;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}


.footer{
    margin-top: 80px;
    border-top: 2px solid #14141D;
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: #000;
    z-index: 2;
}

.footer_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.footer_block{
    width: 33.33%;
    padding: 0 10px;
    
}

/*Product page*/
.Open_Product_Tittle{
    color: #FFF;
    font-family: Jost;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 1; 
    text-transform: uppercase;
    margin-bottom: 50px;
}

.product{
    padding-top: 100px;
}

.product_wrapper{
    display: flex;
    margin: 0 -10px 80px;
}


.Product_img{
    width: 780px;
    padding: 0 10px;
}

.Product_info{
    width: 420px;
    padding: 0 10px;
}

.product_item{
    border-radius: 10px;
    background: #14141D;
    padding: 30px;
}

.product_pict{
    height: 400px;
    margin: 0 auto;
    display: block;
}

.Product_img .product_item{
    padding: 60px;
}

.add_card_price{
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    display: flex;
    margin-bottom: 30px;
}


.add_card_price del{
    color: #818181;
    font-weight: 400;
    margin-left: 30px;
}

.radio{
    margin-right: 10px;
    position: relative;
}

.radio_input {
    opacity: 0;
    position: absolute;
}

.radio_input:checked + .radio_label {
    color: #C7A17A;
    border-color: #C7A17A;
}

.radio_wrapper{
    display: flex;
    margin-bottom: 30px;
}

.radio_label{
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #FFF;
    margin-right: 10px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.2s ease;
}

.radio_label:hover{
    color: #C7A17A;
}

.desc_tittle{
    color: #FFF;
    font-size: 24px;
    font-weight: 900;
    line-height: 1; /* 34.56px */
    text-transform: uppercase;
    margin-bottom: 30px;
}

.desc_wrapper{
    border-radius: 10px;
    background: #14141D;
    padding: 30px;
    margin-bottom: 80px;
}

.desc_ul{
    margin: 0;
    width: 1140px;
    color: #DFDFDF;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

.checkout_table{
    display: flex;
}

/* checkout page */

.page_wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.checkout{
    flex: 1;
    padding-top: 80px;
}

.checkout_total{
    width: 380px;
    position: relative;
}

.checkout_total:after{
    content: " ";
    position: absolute;
    top: -160px;
    left: -30px;
    width: 40vw;
    height: 80vh;
    background-color: #14141D;
    z-index: -999;
}

.block_titlle{
    color: #FFF;
    font-size: 40px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.checkout_wrapper{
    display: flex;
}

.checkout_block{
    flex: 1;
    margin-right: 50px;
}



.checkout_img{
    height: 96px;
    width: 47px;
    display: block;
    margin-right: 25px;
}

.checkout_table{
    display: flex;
    padding: 20px;
    border-radius: 10px;
    background-color: #14141D;
    margin-bottom: 20px;
}

.checkout_item{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
}

.checkout_tittle{
    font-size: 16px;
    font-weight: 900;
    line-height: 1%; 
    text-transform: uppercase;
}

.checkout_size{
    color: #818181;
    font-size: 14px;
    font-weight: 700;
    line-height: 1; 
    text-transform: uppercase;
}

.select {

}
.select select{
    background-color: transparent;
    color: #FFF;
    min-width: 60px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #FFF;
    outline: 0;
}

.select option{
    background: #000;
}

.checkout_actions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.checkout_price{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
}

.checkout_remove{

}

.checkout_remove:hover{
    text-decoration: none;
}

.checkout_row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.checkout_row.total{
    margin-top: 30px;
    margin-bottom: 40px;
}

.checkout_row_tittle{
    font-size: 15px;
    font-weight: 400;
    line-height: 1%; 
    text-transform: uppercase;
}

.checkout_row_count{
    font-size: 15px;
    font-weight: 400;
    line-height: 1%; 
    text-transform: uppercase;
}

.checkout_row_tittle.total{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.checkout_row_count.total{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

